* {
    font-family: monospace;
}
h1{
    text-align: center;
}
form{
    margin-top: 10%;
    margin-bottom: 10%;
    text-align: center;
}
h2{
    text-align: center;
}
div{
    border: 1px solid;
    background-color: red;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
}